

h1 {font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(194, 133, 83); 
    text-align: center;
    background-color: bisque;
    border: thin solid;
    border-color: rgb(231, 167, 89);
    a:hover {color:rgb(238, 36, 137)}
    
    